@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark font-body;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}
.banner-img {
  position: relative;
  animation: moveUpDown 1.5s ease-in-out infinite;
}
